<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Técnicos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span style="font-size: large; color: white">Técnicos</span>
    <span><a href="/tecnicosPage" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Volver a Técnicos</a></span>
    <span><a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LogOut</a></span>
</nav>

<form action="/resolverUnIncidente" method="post">
    <div class="form-group">
        <label for="id">Id del Técnico</label>
        <input type="text" class="form-control" name="id" id="id" placeholder="Ingrese el ID" required>
    </div>

    <button type="submit" class="btn btn-primary">Ver incidente pendiente</button>
</form>

</body>
</html>