<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Área de RRHH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span style="font-size: large; color: white">Área de RRHH</span>
    <span><a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LogOut</a></span>
</nav>

<br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/altaTecnicoPage" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Dar de Alta a un Técnico</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/bajaTecnicoPage" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Dar de Baja a un Técnico</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/updateTecnicoPage" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Actualizar Datos de un Técnico</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/emitirReportes" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Emitir Reportes de Hoy</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/pedirN" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Obtener Técnico con más Incidentes Resueltos en los últimos N días</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/pedirNYEspecialidad" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Obtener Técnico con más Incidentes Resueltos de una Especialidad en los últimos N días</a></p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/obtenerTecnicoMasRapido" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Obtener Técnico que más rápido resolvió los Incidentes</a></p>


</body>
</html>