<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Técnico Más Inc Res por Esp N Días</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span style="font-size: large; color: white">Técnico Más Incidentes Resueltos por Especialidad en N Días</span>
    <span><a href="/RRHHPage" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Volver al Área de RRHH</a></span>
    <span><a href="/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LogOut</a></span>
</nav>



</body>
</html>