<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>

<div class="containerPrincipal">
<div class="container">

    <p class="textoIndex1">Login</p>

    <form action="/verificarLogin" method="post" class="formLogin">

            <label for="id" class="textoIndex2">Id</label>
            <input type="text" name="id" id="id" required>

            <label for="uname" class="textoIndex2">Username</label>
            <input type="text" name="username" id="uname" required>

            <label for="psw" class="textoIndex2">Password</label>
            <input type="password" name="password" id="psw" required>

            <br><br>

            <input class="inputSubmitLogin" type="submit" value="Login">

    </form>

    <br>

    <p class="textoIndex1">Lista de usuarios para pruebas</p>

    <div th:align="center">
    <table th:class="tablaLogin">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Rol</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u: ${usuarios}">
            <th scope="row" th:text="${u.getId()}"/>
            <td th:text="${u.getUsername()}" />
            <td th:text="${u.getPassword()}" />
            <td th:text="${u.getRol().getRol()}" />
        </tr>
        </tbody>
    </table>
    </div>

</div>


</div>

<br>

</body>
</html>